version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: bookbrick-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '9876King$'
      POSTGRES_DB: booking_system
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: bookbrick-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8080:80'
    depends_on:
      - postgres

volumes:
  pgdata:
